<!DOCTYPE html>
<html lang="pt-br">

{% load bootstrap5 %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hels News</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    <link href="styles.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/starter-template/">
</head>

<style>
.card-title {
    color: #FF71B5;
}

.btn-primary {
    background-color: #FF71B5;
    border-color: #FF71B5;
}

.btn-primary:hover {
    background-color: #FF71B5;
    border-color: #FF71B5;
}

</style>

<link href="/static/starter-template.css" rel="stylesheet">
<link href="/static/bootstrap.min.css" rel="stylesheet">

<body class="bg-dark text-light">
    <header class="text-center py-4">
        <a href="/" style="text-decoration: none; color: inherit;">
            <h1><b>Hels News</b></h1>
        </a>
        
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link text-light" href="/politica/">Política</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/economia/">Economia</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/esportes/">Esportes</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/entretenimento/">Entretenimento</a></li>
            </ul>
        </nav>
    </header>

    <h2>Adicionar Notícia</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Adicionar Notícia</button>
    </form>

    <aside class="bg-light p-4">
        <h2 class="text-center">Busca de Notícias</h2>
        <form>
            <div class="form-group">
                <input type="text" class="form-control mb-2" placeholder="Digite sua busca...">
                <button type="submit" class="btn btn-primary btn-block" style="background-color: #FF71B5; border-color: #FF71B5;">Buscar</button>
            </div>
        </form>
    </aside>
    
    <footer class="text-center py-3">
        <p>&copy; 2024 Hels News</p>
    </footer>
    
    <!-- Bootstrap JS (opcional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
</body>
<br>

