<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Notícia</title>
    <style>
        .card-title {
            color: #FF71B5;
        }

        .btn-primary {
            background-color: #FF71B5;
            border-color: #FF71B5;
        }

        .btn-primary:hover {
            background-color: #FF71B5;
            border-color: #FF71B5;
        }
    </style>
    <link href="/static/starter-template.css" rel="stylesheet">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h2>Adicionar Notícia</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Adicionar Notícia</button>
    </form>
</body>
</html>
