<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hels News</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Estilos personalizados -->
    <link href="styles.css" rel="stylesheet" />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.3/examples/starter-template/"
    />
  </head>

  <style>
    .card-title {
      color: #ff71b5;
    }

    .btn-primary {
      background-color: #ff71b5;
      border-color: #ff71b5;
    }

    .btn-primary:hover {
      background-color: #ff71b5;
      border-color: #ff71b5;
    }
  </style>

  <link href="/static/starter-template.css" rel="stylesheet" />
  <link href="/static/bootstrap.min.css" rel="stylesheet" />

  <body class="bg-dark text-light">
    <header class="text-center py-4">
      <a href="/" style="text-decoration: none; color: inherit">
        <h1><b>Hels News</b></h1>
      </a>

      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Política</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Economia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Esportes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Entretenimento</a>
          </li>
        </ul>
      </nav>
    </header>

    <main></main>

    <section class="container my-4">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card bg-light text-dark">
            <img
              src="imagem.jpg"
              class="card-img-top"
              alt="Imagem da Notícia"
            />
            <div class="card-body">
              <h5 class="card-title" style="color: #ff71b5">
                Título da Notícia
              </h5>
              <p class="card-text">Conteúdo da notícia...</p>
              <p class="card-text">Categoria: Política</p>
            </div>
          </div>
        </div>
        <!-- Outros artigos de notícias aqui -->
      </div>
    </section>

    <aside class="bg-light p-4">
      <h2 class="text-center">Busca de Notícias</h2>
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Digite sua busca..."
          />
          <button
            type="submit"
            class="btn btn-primary btn-block"
            style="background-color: #ff71b5; border-color: #ff71b5"
          >
            Buscar
          </button>
        </div>
      </form>
    </aside>

    <footer class="text-center py-3">
      <p>&copy; 2024 Hels News</p>
    </footer>

    <!-- Bootstrap JS (opcional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
  </body>
</html>
