<!-- noticiaEconomia.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hels News</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    <link href="styles.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/starter-template/">
</head>

<style>
.card-title {
    color: #FF71B5;
}

.btn-primary {
    background-color: #FF71B5;
    border-color: #FF71B5;
}

.btn-primary:hover {
    background-color: #FF71B5;
    border-color: #FF71B5;
}

</style>

<link href="/static/starter-template.css" rel="stylesheet">
<link href="/static/bootstrap.min.css" rel="stylesheet">

<body class="bg-dark text-light">
    <header class="text-center py-4">
        <a href="/" style="text-decoration: none; color: inherit;">
            <h1><b>Hels News</b></h1>
        </a>
        
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link text-light" href="/politica/">Política</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/esportes/">Esportes</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/entretenimento/">Entretenimento</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/adicionarnoticia/"><b>Cadastrar Notícia</b></a></li>
            </ul>
        </nav>
    </header>


<section class="container my-4">
    <div id="noticiasCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for noticia in noticiaseconomia %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row justify-content-center"> <!-- Adiciona a classe justify-content-center para centralizar os itens -->
                    <div class="col-md-6 mb-4"> <!-- Define o tamanho da coluna -->
                        <div class="card bg-light text-dark">
                            <a href="{% url 'detalhes_noticia' noticia.id %}"> <!-- Link para os detalhes da notícia -->
                                <img src="{{ noticia.imagem.url }}" class="card-img-top mx-auto d-block" alt="Imagem da Notícia"/> <!-- Adiciona as classes mx-auto e d-block para centralizar a imagem -->
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url 'detalhes_noticia' noticia.id %}" class="text-decoration-none text-dark">{{ noticia.titulo }}</a> <!-- Link para os detalhes da notícia -->
                                </h5>
                                <p class="card-text">{{ noticia.conteudo }}</p>
                                <p class="card-text">{{ noticia.categoria }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#noticiasCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#noticiasCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<aside class="bg-light p-4">
    <h2 class="text-center">Busca de Notícias</h2>
    <form>
        <div class="form-group">
            <input type="text" class="form-control mb-2" placeholder="Digite sua busca...">
            <button type="submit" class="btn btn-primary btn-block" style="background-color: #FF71B5; border-color: #FF71B5;">Buscar</button>
        </div>
    </form>
</aside>

<footer class="text-center py-3">
    <p>&copy; 2024 Hels News</p>
</footer>

<!-- Bootstrap JS (opcional) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/bootstrap.bundle.min.js"></script>
</body>

</html> 
